bin
obj
node_modules
out
.omnisharp/
.omnisharp-*/
.vs/
.debugger/
.razor/
.vscode-test/
dist/
*.razor.json

install.*

*.vsix
*.map


test/**/.vscode/launch.json
test/**/.vscode/tasks.json

.logs/
.nyc_output/
coverage/

\.DS_Store
vsix/

\.vscodeignore
