bin
obj
node_modules
out
.roslyn/
.roslynDevKit/
.xamlTools/
.omnisharp/
.omnisharp-*/
.vs/
.debugger/
.razor/
.razoromnisharp/
.razortelemetry/
.razorDevKit/
.vscode-test/
msbuild/signing/signJs/*.log
msbuild/signing/signVsix/*.log
dist/
*.razor.json

install.*

*.vsix
*.map


test/**/.vscode/launch.json
test/**/.vscode/tasks.json

.logs/
.nyc_output/
coverage/

\.DS_Store
vsix/
