bin
node_modules
out
.omnisharp/
.omnisharp-*/
.debugger
.vscode-test

install.*

*.vsix


test/**/.vscode/launch.json
test/**/.vscode/tasks.json

.logs/
.nyc_output/
coverage/

\.DS_Store
vsix/

\.vscodeignore
