sudo: false
language: node_js

node_js:
- "5.1"

os:
  -osx
  -linux

install:
- npm install
- npm run compile
- npm install -g vsce
- vsce package

deploy:
  provider: releases
  api_key:
    secure: IccNv4d/b3/c2Wg/A39L/gfNPT0nBMpcf2b5PlEy+U79ii9hKHq681hHCJ/NPhwUjWOfSfgFXRoTJVYIHuMnT7WLnSqfqiiPUo82z0ulZQOEEdt8oVHoABm5SzAPQqe6Lo/SC+2zYV6TgqP/i9qVN0TuyA1jH00hmpBjnozO98GyuJIeUYwvEBkhJttcO0HLb836td5OxG8SDRo9kFauITNZAFQA8yVlsFmCJF1Di7Oncmcjcd5aHm9PnbgQytHg+iWMhBZuHXfB9hV4J0tsMZB+XPxvkS74dASuKjEIIdB66GXoVL5BzJmopY3gQVYpK5wK+HH4PwwpdZ1BY0qW4zmUCwwlNXSIVX8IjCiRt/5Bc3hqpY8zahIFKW37ZbHSVH1kKK9+fmEt5iy4HSqGGxmSXVrQGY1VJhsol/0Yu326L9J35AKhQeYKQvIdUQy4LiIN8NTUtEZr5Nvv6+TCI0RShQgkGQrlVyknIpoq9HM915NDTRLwm3s78LptkOP6wmRk26HLOBdYG/0k15Wos7mtR6cXc+NqKZm8tPfPEn2cIzGrmQgKXuCoXu+hGoOl/2HSzDnUUxhiSVbjoCei7HRXPT+0yhDc8e+Kt1fHKDJpyj7ybICVGmexxQY41mPtAVKrX/pDBCi53QVT1a+QEAd5Y27X4S8Ko+Vqukkoq7E=
  file_glob: true
  file: "*.vsix"
  skip_cleanup: true
  on:
    repo: OmniSharp/omnisharp-vscode
    tags: true
