!.debugger/**
.logs/**
.nyc_output/**
!.roslyn/**
!.roslynDevKit/**
!.omnisharp/**
!.razor/**
!.razorDevKit/**
!.razoromnisharp/**
.rpt2_cache/**
.config/**
.github/**
.vscode/**
.vscode-test/**
coverage/**
out/**
server/**
src/**
tasks/**
test/**
omnisharptest/**
__mocks__/**
jest.config.ts
baseJestConfig.ts
.prettierignore
typings/**
vsix/**
node_modules
azure-pipelines

**/*.map
*.vsix

.editorconfig
.gitignore
CODEOWNERS
gulpfile.ts
!install.Lock
ISSUE_TEMPLATE
!README.md
!CHANGELOG.md
*.md
CONTRIBUTING.md
*.vscodeignore
*.yml
package-lock.json
package.json
tsconfig.json
version.json
wallaby.js
webpack.config.js

!src/razor/language-configuration.json
!src/razor/syntaxes/*

!src/xaml/language-configuration.json
!src/xaml/syntaxes/*

+RuntimeLicenses/dependencies/*
coreclr-debug/install.log
!.vswebassemblybridge/**