!.debugger/**
.logs/**
.nyc_output/**
!.roslyn/**
!.omnisharp/**
!.razor/**
!.razoromnisharp/**
.rpt2_cache/**
.github/**
.vscode/**
.vscode-test/**
coverage/**
out/**
server/**
src/**
tasks/**
test/**
typings/**
vsix/**
node_modules
azure-pipelines

**/*.map
*.vsix

.editorconfig
.gitignore
CODEOWNERS
gulpfile.ts
!install.Lock
ISSUE_TEMPLATE
.mocharc.jsonc
*.md
*.vscodeignore
*.yml
package-lock.json
package.json
tsconfig.json
version.json
wallaby.js
webpack.config.js

!src/razor/language-configuration.json
!src/razor/syntaxes/*

+RuntimeLicenses/dependencies/*
coreclr-debug/install.log
