trigger:
  batch: true
  branches:
    include:
    - feature/*
    - release
    - prerelease
    - main

pr:
  branches:
    include:
    - feature/*
    - release
    - prerelease
    - main
  paths:
    exclude:
    - '**.md'
    - .azuredevops/*
    - .config/*
    - .devcontainer/*
    - .github/*
    - .vscode/*
    - azure-pipelines/dotnet-vscode-csharp-insertion.yml
    - azure-pipelines/loc.yml
    - azure-pipelines/release.yml
    - azure-pipelines/profiling.yml
    - azure-pipelines/publish-roslyn-copilot.yml
    - docs/*
    - images/*
    - RuntimeLicenses/*
    - 'l10n/bundle.l10n.*.json'
    - themes/*
    - CODEOWNERS
    - 'version.json'

# Run a scheduled build every night on main to run tests against insiders VSCode.
# The variable testVSCodeVersion is set to insiders based on the build reason.
schedules:
  - cron: "0 0 * * *"
    displayName: Daily Insiders Build
    branches:
      include:
        - main

variables:
- template: /azure-pipelines/dotnet-variables.yml@self
- name: testVSCodeVersion
  ${{ if eq( variables['Build.Reason'], 'Schedule' ) }}: 
    value: insiders
  ${{ else }}: 
    value: stable

stages:
- template: azure-pipelines/build-vsix.yml
  parameters:
    isOfficial: false
    signType: test
    dotnetVersion: $(defaultDotnetVersion)

- template: azure-pipelines/validate-build.yml
  parameters:
    dotnetVersion: $(defaultDotnetVersion)

- stage:
  displayName: Test Linux (.NET 8)
  dependsOn: []
  jobs:
  - template: azure-pipelines/test-matrix.yml
    parameters:
      os: linux
      # Prefer the dotnet from the container.
      dotnetVersion: ''
      testVSCodeVersion: $(testVSCodeVersion)
      installAdditionalLinuxDependencies: true
      pool:
        name: NetCore-Public
        demands: ImageOverride -equals 1es-ubuntu-2004-open
      containerName: mcr.microsoft.com/dotnet/sdk:8.0

- stage:
  displayName: Test Linux (.NET 9)
  dependsOn: []
  jobs:
  - template: azure-pipelines/test-matrix.yml
    parameters:
      os: linux
      # Prefer the dotnet from the container.
      dotnetVersion: ''
      testVSCodeVersion: $(testVSCodeVersion)
      installAdditionalLinuxDependencies: true
      pool:
        name: NetCore-Public
        demands: ImageOverride -equals 1es-ubuntu-2004-open
      containerName: mcr.microsoft.com/dotnet/sdk:9.0

- stage: Test_Windows_Stage
  displayName: Test Windows
  dependsOn: []
  jobs:
  - template: azure-pipelines/test-matrix.yml
    parameters:
      os: windows
      dotnetVersion: $(defaultDotnetVersion)
      testVSCodeVersion: $(testVSCodeVersion)
      pool:
        name: NetCore-Public
        demands: ImageOverride -equals 1es-windows-2022-open

- stage: Test_MacOS_Stage
  displayName: Test MacOS
  dependsOn: []
  jobs:
  - template: azure-pipelines/test-matrix.yml
    parameters:
      os: macos
      dotnetVersion: $(defaultDotnetVersion)
      testVSCodeVersion: $(testVSCodeVersion)
      pool:
        name: Azure Pipelines
        vmImage: macOS-13

- stage: Test_OmniSharp
  displayName: Test OmniSharp
  dependsOn: []
  jobs:
  - job: Test
    strategy:
      matrix:
        linux:
          demandsName: 1es-ubuntu-2004-open
        windows:
          demandsName: 1es-windows-2022-open
    pool:
      name: NetCore-Public
      demands: ImageOverride -equals $(demandsName)
    steps:
    - template: azure-pipelines/test-omnisharp.yml
      parameters:
        dotnetVersion: $(defaultDotnetVersion)
        testVSCodeVersion: $(testVSCodeVersion)
