<?xml version="1.0" encoding="utf-8"?>
<!-- NuGet config for integration test projects.  Guards against a higher level NuGet.config from removing a required package source. -->
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>