name: Node.js CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm run build --if-present
    - run: npm test
    - run: mkdir artifact
    - run: vsce package -o ./artifact/omnisharp-vscode.vsix
      env:
        CI: true
        
    - name: Upload artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        name: vsix
        path: ./artifact/omnisharp-vscode.vsix
