on:
    release:
        types:
            - released

name: Publish the Extension to OpenVSX

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2

            - uses: actions/setup-node@v1
              with:
                  node-version: 10

            - run: npm ci
            - run: npm install -g gulp ovsx
            - run: gulp 'vsix:release:package'

            - name: Get package version
              run: node -e "console.log('VERSION=' + require('./package.json').version)" >> $GITHUB_ENV

            - run: ovsx publish ./csharp-${{ env.VERSION }}.vsix -p ${{ secrets.OPEN_VSX_TOKEN }}
